<div class="users-list-header-container">
  <mat-spinner *ngIf="isDeleting"></mat-spinner>
  <button mat-button (click)="openRegisterDialog()"><mat-icon>add</mat-icon> add new user</button>
</div>
<div class="users-list-table-container mat-elevation-z8">
  <table mat-table matSort class="users-list-table-container--table" [dataSource]="dataSource">

    <!-- Email Column-->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell  *matCellDef="let element" #email>
        <input  [value]="element.email" type="text" matInput [readonly]="!element.editMode" >
      </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="Username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell  *matCellDef="let element">
        <input  [value]="element.username" type="text" matInput  [readonly]="true" [matTooltip]="element.editMode?'You can\'t change your login name!': null">
      </td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element; let i = index" [attr.data-index]="i" [matTooltip]="element.editMode && !hasErrors?'Enter new Value in upper line with comma': null" >
        <div *ngIf="element" #roles>
          <ng-container  *ngFor="let role of element?.roles; let j = index">
            <div fxLayout="row" class="users-list-table-container--table--role-container">
              <input [style.text-decoration]="hasErrors && i == index?'underline':'none'" [style.text-decoration-color]="hasErrors && i == index?'red':'none'"  matTooltip="{{hasErrors && i == index?'Should look like \'ROLE_ADMIN,ROLE_USER':null}}" [value]="role.name" type="text" matInput  [readonly]="!element.editMode" >
              <button mat-icon-button [hidden]="!element.editMode && i != index" (click)='deleteRoleAndUpdateUser(role.name, element)'><mat-icon color="warn">close</mat-icon></button>
            </div>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let row; let i = index">
            <span style="display: flex;">
              <button *ngIf="!row.editMode" mat-icon-button  color="primary" focusable="false" (click)="startEdit(row, i)">
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="row.editMode" mat-icon-button  color="primary" focusable="false" (click)="confirmEditCreate(row, i)">
                <mat-icon>check</mat-icon>
              </button>
              <button mat-icon-button color="warn" focusable="false" (click)="cancelOrDelete(row, i)">
                <mat-icon>{{row.editMode ? 'close' : 'delete'}}</mat-icon>
              </button>
            </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.editMode ? 'editable' : 'readonly'">
    </tr>
  </table>
  <mat-paginator #paginator
                 [length]="dataSource.getValue.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
