.users-list-table-container {
  overflow: auto;
  width: 80%;
  margin: 50px auto auto;

  &--table {
    width: 100%;
    &--role-container{
      align-content: space-between;
      :last-child{
        margin-right: 50px;
      }
    }
  }

  tr.readonly {
    background-color: #eeeeee;
  }

  button{
    outline: none;
  }
}
