.home-container {
  background: url("src/main/webapp/assets/HomePage.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;

  .home-container-card-wrapper {

    .home-container-card {
      width: 60%;
      height: auto;
      margin: 20px auto;
      border-radius: 0 !important;

      .home-container-card-header-text {

        &--title {
        }

        &--subtitle {
        }
      }
    }
    @media screen and (max-width: 840px) {
      .home-container-card {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .home-container {
   overflow: scroll;
  }
}
