.task-layout {
  width: 100%;
  height: 100%;
  .task-container {
    background: url("src/main/webapp/assets/WhiteShapeBackgroundFreeLicense.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: auto;
  }

  @media screen and (max-width: 840px){
    .task-container {
      overflow: scroll;
    }
  }
}
