.loginPanel .dialog-content{
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
}

.dialog-content {
  .header{
    justify-content: center;
    margin-bottom: 10px;
  }

  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-dialog-actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;

    .submit {
      margin-bottom: 30px;
    }

  }

}





