<div class="dialog-content" mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <div>
      <div class="header">
        <h2>Login</h2>
      </div>
      <div fxLayout="column">
        <form [formGroup]="loginForm">
          <div id="username-container">
            <mat-form-field fxLayout="column">
              <input matInput placeholder="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">username is required</div>
              </div>
            </mat-form-field>
          </div>
          <div id="password-container">
            <mat-form-field>
              <input matInput type="password" placeholder="Passwort" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">password is required</div>
              </div>
            </mat-form-field>
          </div>
        </form>
      </div>
      <mat-dialog-actions>
        <div class="submit">
          <button [disabled]="loading" (click)="onSubmit(loginForm.value)" mat-raised-button color="primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
        </div>
        <div>
          <a (click)="openRegisterDialog()">Signup</a>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</div>

