name: CI/CD ToDo App

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  backend: 
    name: Backend - Units & Integrations
    runs-on: ubuntu-18.04
    
    services:
      # Label used to access the service container
      db:
        # Docker Hub image
        image: postgres:13.1-alpine
        # Provide the password for postgres 
        ports: ['5432:5432']
        env:
          POSTGRES_USER: compose_postgres
          POSTGRES_PASSWORD: compose_postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
      - uses: actions/checkout@v1   
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11.x
      - name: Cache Maven Dependecies
        uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: | 
            ${{ runner.os }}-maven-
      - name: Maven Verify
        run: mvn -B clean verify
        env:
          SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/postgres
          SPRING_DATASOURCE_USERNAME: compose_postgres
          SPRING_DATASOURCE_PASSWORD: compose_postgres
  frontend: 
    name: Frontend Build and Test 
    runs-on: ubuntu-latest 
    steps: 
    - name: Checkout 
      uses: actions/checkout@v2 
    - name: Use Node 12.x 
      uses: actions/setup-node@v1 
      with: 
        node-version: '12.x'
    - name: Cache NPM dependencies
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.OS }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.OS }}-npm-cache-
    - name: Install dependencies 
      run: npm ci
    - name: Build
      run: npm run ci:frontend:build 
    - name: Test 
      run: npm run ci:frontend:test
  deploy:
    needs: [backend, frontend]
    name: Deploy to heroku
    runs-on: ubuntu-latest
    steps: 
    - name: Deploy to Heroku
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: |
          if [ ! -z "$HEROKU_API_KEY" ]; then
              ./mvnw -ntp com.heroku.sdk:heroku-maven-plugin:2.0.5:deploy -DskipTests -Pprod -Dheroku.buildpacks=heroku/jvm -Dheroku.appName=todo-list-app-ba
          else
              echo No HEROKU_API_KEY, skipping...
          fi
